@{
  Layout = "_Layout";
}

@model University.Models.Course

<div class="jumbotron">
  <h2>Course Details</h2>
</div>
<hr />
<div class="card">
<h3>@Html.DisplayNameFor(model => model.CourseName): @Html.DisplayFor(model => model.CourseName)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This course does not have any students registered.</p>
}
else
{
  <h4>Students registered for this course: </h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Student.Name</li>
  }
  </ul>
}
</div>
<hr />
<div class="card">
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Add Student", "Create", "Students")</p>
</div>